.icon {
    line-height: 0;
}

.searchBarContainer {
    display: flex;
    gap: 4px;
    position: relative;
    justify-content: center;
    align-items: center;

}

.searchBar:focus-within {
    outline: 1px solid var(--main-color);
}

.searchBar {
    position: relative;
    color: var(--main-text-color);
    padding: 6px 12px;
    border-radius: 15px;
    background-color: rgba(65, 72, 81, 0.7);
    transition: 0.2s all ease;
}




.searchBar form {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.searchBar form input {
    padding: 4px;
    min-width: 100px;
    width: 100%;

}

.searchBar form input::placeholder {
    color: var(--secondry-text-color);
}

.searchBar form>*:focus {
    outline: none;
    border: 0px solid transparent;
}

.searchBar .searchIcon {
    width: var(--icon-s);
    height: var(--icon-s);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar .searchBtn {
    transition: 0.3s all ease;
}

.searchBar .searchBtn:hover {
    color: var(--main-color);
}

.searchBarContainer .closeBtn {
    display: none;
    color: var(--main-text-color);
    cursor: pointer;
}

.searchBarContainer.wrapped .searchBar form>*:not(:first-child) {
    display: none;
}


@media screen and (max-width: 900px) {
    .searchBarContainer.wrapped .searchBar {
        padding: 4px 8px;
    }

    .searchBarContainer .searchBar {
        padding: 0px 8px;
    }

    .searchBarContainer .closeBtn {
        display: block;
        font-size: 16px;
    }

    .searchBarContainer.wrapped {
        position: relative;
        background-color: transparent;
    }

    .searchBarContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding-inline: 4px;
        background-color: var(--black);
        justify-content: end;
    }











    .searchBarContainer.wrapped .searchBar {
        width: auto;
    }

    .searchBarContainer .searchBar {
        width: 100%;
    }
}